@font-face {
    font-family: "site_font_cerebri_sans_pro";

    /*
        100 – Thin || Hairline
        200 – Extra Light || Ultra Light || Thin
        300 – Light
        400 – Normal || Regular
        500 – Medium
        600 – Semi Bold || Demi Bold
        700 – Bold
        800 – Extra Bold || Ultra Bold || Heavy
        900 – Black || Heavy
    */

    src: url("./../fonts/Cerebri.Sans.Pro/CerebriSansPro-SemiBold.ttf");
}

@font-face {
    font-family: "site_font_inter";

    /*
            100 – Thin || Hairline
            200 – Extra Light || Ultra Light || Thin
            300 – Light
            400 – Normal || Regular
            500 – Medium
            600 – Semi Bold || Demi Bold
            700 – Bold
            800 – Extra Bold || Ultra Bold || Heavy
            900 – Black || Heavy
        */

    src: url("./../fonts/Inter/static/Inter-Black.ttf");
}

html {
    height: 100%;
    font-size: 1 em;
    font-family: "site_font_cerebri_sans_pro", 'Ink Free';
    z-index: 0;
}

body {
    height: 100%;

    /* background-color: rgb(158, 209, 110); */
    /* background-image: url("./../img/backgr.png"); */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-repeat: no-repeat; */
    /* background-position: center top; */
    /* background-position: right bottom; */

    /* background-size: 50%; */
    /* background-size: contain; */
    /* background-size: cover; */


}

header{
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

main{
    margin-top: 30rem;
}

footer{
    background-color: black;
    color: white;
    /* position: fixed; */
    /* right: 0; */
    /* bottom: 100px; */
    /* position: absolute; */
    position: relative;
    display: block;

    text-align: center;
    width: 100%;
    font-size: 1rem;
}

.account{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* .soc{
    height: 2rem;
    border-radius: 8px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    vertical-align:baseline;
} */

.account>p>img{
    height: 2rem;
    /* border-radius: 8px; */
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    vertical-align:baseline;
}

.account>p>label{
    font-size: 1rem;
    margin-left: 0rem;
    margin-right: 1rem;
}

.search{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

#search_left_half{
    display: inline-block;
    text-align: right;
    width: 50%;
}

.search>div{
    display: inline-block;
    vertical-align:baseline;
}

.search>div>div{
    display: inline-block;
    vertical-align:baseline;
}

#head_logo{
    display: inline-block;
    vertical-align:top;
    padding: 0.5rem 0 0 0;
}

#head_logo>div{
    font-weight:800;
    font-family: site_font_inter, 'Ink Free';
    display: inline-block;
}

#head_logo>div>p{
    display: inline-block;
    font-size: 1.875rem;
}

#head_logo>div>img{
    max-height: 3rem;
    max-width: 1.8rem;
    display: inline-block;
    vertical-align: top;
    margin: -1rem 0rem 0rem 0rem;
    padding: 0rem 0 0 0;
}

#place_select{
    display: inline-block;
    height: 2rem;
    margin: 0 2rem 0 2rem;
}

#place_select>div{
    display: inline-block;
    /* vertical-align: bottom;
    padding: 0 0 1rem 0; */
}

#place_select>div:nth-child(1){
    display: inline-block;
    vertical-align: baseline;
}

#place_select>div>img:nth-child(1){
    height: 1rem;
    margin: 0.55rem 0 0 0;
    position: relative;
    z-index: 1;
    top: 0.3rem;
}

#place_select>div>img:nth-child(2){
    height: 0.3rem;
    position: relative;
    z-index: 2;
    left: -0.77rem;
    top: -0.2rem;
}

#place_select>div:nth-child(2){
    display: inline-block;
    vertical-align: baseline;
    margin: 0.8rem 0 0 0;
}

#place_select>div>select{
    border: 0;
    color: gray;
    font-size: 1rem;
    margin: 0.1rem 0 0 0;

    background: #ffffff url('./../img/arrow_down.svg') no-repeat right 0 center;
    -webkit-appearance: none; /* Стиль для Safari */
    -moz-appearance: none;    /* Стиль для Firefox */
    appearance: none;         /* Стиль для прочих браузеров */
}

/* #search_input{
    display: inline-block;
    height: 2rem;
} */

#search_input>div{
    display: inline-block;
}

#search_input>div>input{
    border: 0;
    background: lightgray url('./../img/magnifying_glass.svg') no-repeat left 1rem center;
    border-radius: 0.25rem;
    height: 2rem;
    vertical-align: baseline;
}

#search_input>div>input[type=text]{
    padding-left: 3rem;
}

#search_right_half{
    display: inline-block;
    text-align: right;
    width: 45%;
}

#search_right_half>div{
    display: inline-block;
}

#phone{
    display: inline-block;
    vertical-align: baseline;
    /* background: #00000000 url('./../img/phone.svg') no-repeat left 1rem center; */
    /* height: 3rem; */
}

#phone>img{
    display: inline-block;
    vertical-align: top;
    height: 1.25rem;
    margin-top: -0.2rem;
}

#phone>p{
    display: inline-block;
    vertical-align: baseline;
    padding-left: 1rem;
}

#search_right_half>div>label{
    padding: 0 1rem 0 1rem;
}

#heart{
    display: inline-block;
    vertical-align: top;
    /* margin: 0 1rem 0 1rem; */
    max-width: 2rem;
    max-height: 2rem;
    text-align: center;
}

/* #heart>div{
    position: relative; 
     display: block;
} */

#heart>div:nth-child(1)
{
    /* position: relative; */
    z-index: 2;
}

#heart>div:nth-child(2)
{
    /* background-color: green;
    border-radius: 0.49rem;
    height: 1rem;
    width: 1rem;
    font-size: 0.8rem;
    vertical-align: baseline;
    text-align: center; */
    height: 0.95rem;
    width: 0.95rem;
    background-color: rgba(0, 155, 0, 0.99);
    border-radius: 0.75rem;
    display: block;
    margin-left: 1.2rem;
    margin-top: -2rem;
    border: 0.1rem solid white;
    position: relative;
    z-index: 3;
}

#heart>div:nth-child(2)>p
{
    font-size: 0.7rem;
    padding-top: 0.2rem;
    padding-right: 0.08rem;
    color: white;
    position: relative;
    z-index: 4;
}

#person>div{
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

#person>div:nth-child(1){
    position: relative;
    vertical-align: top;
    margin: -0.1rem 0 0 0;
}

#person>div:nth-child(3){
    position: relative;
    vertical-align: top;
    margin: -0.2rem 0 0 0;
}



/* .search>p:nth-child(1){
    font-weight:800;
    font-size: 1.875 rem;
    font-family: site_font_inter, 'Ink Free';
} */

/* .search>img{
    height: 1.2rem;
    vertical-align: middle;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.search>div
{
    display: inline-block;
    border-left: 0.12rem solid lightgrey;
    border-right: 0.12rem solid lightgrey;
    height: 2rem;
}

.search>div>p:nth-child(n){
    display: inline-block;
}

.search>div
{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    font-size: 0.75rem;
}

.search>div>div:nth-child(1)
{
    z-index: 1;
    position: relative;
}

.search>div>div>div>div:nth-child(1)>img
{
    position: relative;
    z-index: 2;
} */

/* .search>div>div:nth-child(2)
{
    height: 0.95rem;
    width: 0.95rem;
    background-color: rgba(0, 255, 0, 0.99);
    border-radius: 0.55rem;
    display: block;
    margin-left: 1.2rem;
    margin-top: -2rem;
    border: solid white;
    position: relative;
    z-index: 3;
} */

/* .search>div>div:nth-child(2)>p
{
    padding-top: 0.15rem;
    color: white;
    position: relative;
    z-index: 4;
} */

/* .search>div>div:nth-child(2)>p
{
    padding-top: 0.15rem;
    color: white;
    position: relative;
    z-index: 4;
} */


/* .sales{
    white-space: nowrap;
} */

/* .sale{
    display: inline-block;
} */

/* .categories{
    white-space: nowrap;
} */

/* .categories_card{
    display: inline-block;
} */


/* .goods{
    white-space: nowrap;
} */

/* .goods_card{
    display: inline-block;
} */

/* .advertising{
    white-space: nowrap;
} */

/* .advertising_card{
    display: inline-block;
} */